.main-container{
  position: relative;
  width: 40%;
  background-color:#2f3136;
  text-align: center;
  margin: 10% auto;
  border-radius: 12px;
  padding: 1rem;
  }
  .img{
    border-radius: 50%;
  }
  .name{
    margin: 1rem 0;
  }
  .btn{
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #202225;
    color: #fff;
    border-radius: 12px;
  }
  .btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
  .back{
    position:absolute;
    top: 3%;
    left: 3%;
  }
  .back:hover{
    filter: invert(24%) sepia(23%) saturate(468%) hue-rotate(161deg) brightness(95%) contrast(92%);
    cursor: pointer;
  }