*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  gap: 20px;
  border-bottom: 4px solid  #36393f;
  margin-bottom: 1rem;
  align-items: center;
}
.for-you-img{
  border-radius: 50%;
  margin-bottom: 0.2rem;
}
.for-you-post-name{
  font-size: 0.9rem;
}
.for-you-post-name:hover{
  text-decoration: underline;
}
.status{
  display: inline-block;
  margin-bottom: 0.5rem;
}
.post-head{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.ranks{
  display: flex;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  /* padding: 0.5rem 0; */
}
.rank-text{
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.red{
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: red;
}
.green{
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: green;
}
.black{
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: black;
}
@media (max-width:500px){
  .head{
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  .post-head{
    margin-bottom: 0.5rem;
  }
}
