.add-comment{
  margin-bottom: 1rem;
}
.input{
  width: 90%;
  height: 2rem;
  border-radius: 12px;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.input:focus{
  outline: none;
}
.btn{
  font-size: 1rem;
  border: none;
  position: absolute;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #202225;
  color: #fff;
}
.btn:hover{
  cursor: pointer;
  background-color: #fff;
  color: #000;
}