*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.discussion-battle{ 
  width:100%;
  min-height: auto;
  max-height: 60vh;
  background-color: #36393f;
  margin: 2rem 0;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: scroll;
}
.comment-layout{
  list-style: none;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.comments{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  background-color: #2f3136;
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 12px;
}
.comments:hover{
  cursor: pointer;
}
.image{
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.comment-detail{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
  border-bottom: 4px solid #36393f;
}
.comment-detail:hover{
  text-decoration: underline;
}
.comment-text{
  font-size: 1.5rem;
}
.side{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.black{
  background-color: #000;
}
.red{
  background-color: rgba(224, 19, 19, 0.651);
}
.green{
  background-color: green;
}